<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="LighthouseUI"
            class="edu.uci.lighthouse.extensions.codereview.ui.ReviewRequestsView"
            id="edu.uci.lighthouse.extensions.codereview.ui.ReviewRequestsView"
            name="ReviewRequestsView"
            restorable="true">
      </view>
   </extension>
   
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="LighthouseCodeReview.codeReviewActionSet"
            label="Code Review"
            visible="true">
         <action
               class="edu.uci.lighthouse.extensions.codereview.ui.AddRequestAction"
               id="LighthouseCodeReview.addRequestAction"
               label="Request Code Review"
               toolbarPath="someting"
               style="push">
         </action>
      </actionSet>
   </extension>
   
<extension id="LighthouseCodeReview.requestMarker"
              name="SiteBDiffMarker"
              point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.core.resources.textmarker"/>
 </extension>

 <extension
         point="org.eclipse.ui.editors.annotationTypes">
         <type
             name="requestAnnotation"
             super="org.eclipse.ui.workbench.texteditor.info"
             markerType="LighthouseCodeReview.requestMarker">
         </type>
   </extension>

   <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
         <specification
             icon = "icons/il.gif"
             annotationType="requestAnnotation"
             verticalRulerPreferenceKey="highlight.rulers.vertical"
             textPreferenceKey="highlight.text"
            colorPreferenceKey="highlight.color"
            highlightPreferenceKey="highlight.background"
            textPreferenceValue="true"
            textStylePreferenceValue="BOX"
            overviewRulerPreferenceKey="highlight.rulers.overview"
            presentationLayer="4"
            highlightPreferenceValue="true"
            label="DiffSiteB"
            symbolicIcon="warning"
            colorPreferenceValue="255,255,127"
            verticalRulerPreferenceValue="true"
            overviewRulerPreferenceValue="true"
            textStylePreferenceKey="highlight.text.style" >
        </specification >
    </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <viewerContribution
            targetID="#CompilationUnitEditorContext"
            id="org.eclipse.jdt.ui.CompilationUnitEditor.EditorContext">
         <menu
               id="edu.uci.lighthouse.codereview.menu.root"
               label="Lighthouse"
               path="additions">
            <separator
                  name="edu.uci.lighthouse.codereview.group1">
            </separator>
         </menu>
         <action
               class="edu.uci.lighthouse.extensions.codereview.delegates.AddCodeReviewActionDelegate"
               enablesFor="+"
               icon="icons/review.gif"
               id="LighthouseCodeReview.action1"
               label="Add to Code Review"
               menubarPath="edu.uci.lighthouse.codereview.menu.root/edu.uci.lighthouse.codereview.group1">
         </action>
      </viewerContribution>
   </extension>

</plugin>
